
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background: #001f4d;
}

li, a, .homebutton, .logoutbutton {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
  font-size: 18px;
  color: white;
}

.topnavlinks {
  list-style: none;
  margin-left: -40px;
}
.topnavlinks li {
  display: inline-block;
  padding: 0px 20px;
}
.topnavlinks li a:hover {
  transition-duration: all 0.4s ease 0s;
}
.topnavlinks li a:hover {
  color: lightblue;
}

.topnavlinks li a.active {
  color: lightblue;
}

.logoutbutton, .homebutton {
  padding: 10px 25px;
  background-color: #0052cc;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: all 0.4s ease 0s;
}

.logoutbutton:hover, .homebutton:hover {
  background-color: #003380;
}

.bottomnav {
  width: auto;
  height: 60px;
  margin-top: 0px;
  background: azure;
  text-align: center;
  align-content: center;
}
#searchnav {
  width: auto;
  height: 45px;
  margin-top: 20px;
  text-align: center;
  align-content: center;
  background-color: lightblue;
  border: 5px solid lightblue;
}

#searchnav tbody, #searchnav tr{
  width: auto;
  background-color: azure;
}
#searchnav td {
  width: 35px;
  height: 35px;
  border-radius: 7px;
  color: white;
  background-color: #0052cc;
  border: none;
  transition-duration: 0.2s;
  margin-left: 10px;
  padding: 10px;
  border: 5px solid lightblue;
}
#searchnav td:hover {
  background-color: #003380;
  cursor: pointer;
}
 #searchnav td.active {
   background-color: #003380;
 }
.bottomnavcontents {
  width: auto;
  height: 60px;
  margin-top: 0px;
  background: azure;
  width: 410px;
  margin: 0 auto;
}
#editprofile, #loginbutton, #signupbutton, #viewprofile {
  margin-top: 10px;
  padding: 10px 25px;
  background-color: #0052cc;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition-duration: all 0.4s ease 0s;
  width: 145px;
  text-align: center;
  float: left;
  transition-duration: 0.4s;
  display: block;
}
#viewprofile, #signupbutton {
  margin-left: 10px;
}

#editprofile a, #viewprofile a {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#loginbutton a, #signupbutton a {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#editprofile:hover, #loginbutton:hover, #signupbutton:hover, #viewprofile:hover {
  background-color: #003380;
}

#editprofile.active, #loginbutton.active, #signupbutton.active, #viewprofile.active {
  background-color: #003380;
}

/*Major containers, forms, tables*/
.signupcontainer {

  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-spacing: 5rem;
  /* position: absolute; */
}

.searchcontainer {
  margin: 8;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /* border-spacing: 5rem; */
}
.searchresultscontainer, .postingscontainer {

  height: auto;

  align-items: left;
  justify-content: left;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /* border-spacing: 5rem; */
}
.searchresultscontainer, .postingscontainer{
  display: flex;
  margin: 8;
}
.profilecontainer, .viewprofilecontainer {

  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-spacing: 5rem;
}


.previoussearch {
  padding: 20px;
  float: left;
  background-color: lightblue;
  width: 20%;
  min-width: 250px;
  border-radius: 7px;
}
.logincontainer {

  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.form, .viewprofilecontents {
  width: 60%;
}
.viewresumecontents {
  width: 80%;
}

.viewresumecontents {
  margin-top: 20px;
  background-color: white;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 900px;
  display: inline-block;
  margin-bottom: 10px;
}
.viewprofilecontents {
  margin-top: 20px;
  background-color: white;
  border-radius: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 900px;
}
table {
  font-size: 1.3rem;
  display: 100%;
  overflow-x: auto;
}
.remoteornah {
  margin-top: 20px;
}

/*Input field and buttons and checkboxes*/
input[type=text], input[type=date], select, input[type=password], input[type=email], input[type=search], input[type=number], button {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 100%;
  height: 35px;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;

}
button {
  min-width: 110px;
}
input[type=button] .active {
  background: lightgray;
}

#linklogin {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 170px;
  height: 35px;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
  margin-top: 20px;
  left: 50%;
  /* display: inline-block; */
 }
#linklogin:hover, button:hover {
  background: lightgray;
  cursor: pointer;
}

input[type=number] {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 100%;
  height: 35px;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
}
input[type="file"] {
  display: none;
}
.currentcheckbox, .sendcheckbox {
  border-radius: 7px;
  width: 35px;
  height: 35px;
  border: 2px solid darkblue;
}
.usermatch {
  margin-top: 10px;
  margin-right: 10px;
}

input[type = "button"] {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 100%;
  height: 35px;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
}
input[type = "button"]:hover {
  background-color: lightgray;
  cursor: pointer;
}
input[type = "button"] .active {
  background-color: lightgray;
}

#saveprofile, #search {
  border-radius: 7px;
  border: 2px solid darkblue;
  background: WhiteSmoke;
  width: 170px;
  height: 35px;
  margin-top: 50px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  transition-duration: 0.4s;
}

#saveprofile:hover, #search:hover {
  background-color: lightgray;
  cursor: pointer;
}
.submitbutton, .linkloginbutton {
  left: 50%;
}
.error {
  background: #FFCCCB;
  color: darkred;
  padding: 10px;
  width: 95%;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid darkred;
}

.senderror {
  background: #FFCCCB;
  color: darkred;
  border: 2px solid darkred;
  padding: 9px;
  width: 200px;
  border-radius: 7px;
  margin-bottom: 10px;
  margin-right: 10px;
  float: right;
}
#submit {
  border-radius: 7px;
  border: 2px solid darkblue;
  background: whitesmoke;
  width: 170px;
  height: 35px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  transition-duration: 0.4s;
}
#sendmessage, #selectnumber {
  border-radius: 7px;
  border: 2px solid darkblue;
  background-color: WhiteSmoke;
  height: 35px;
  float: right;
  width: 150px;
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  transition-duration: 0.4s;
  margin-bottom: 20px;
}
#selectnumber {
  width: 200px;
}

a.button, a.button:link {
  border-radius: 7px;
  border: 2px solid darkblue;
  background: white;
  width: 100%;
  height: 35px;
  align-items: center;
  text-align: center;
  vertical-align: central;
  text-decoration: none;
  appearance: button;
  /* line-height: 35px; */
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  /* margin-top: 5px; */
  transition-duration: 0.4s;
}

#submit:hover, #sendmessage:hover, a.button:hover {
  background-color: lightgray;
  cursor: pointer;
}


/*bio and profile image section*/

#bio {
  /*display: inline-block;*/
  border-radius: 7px;
  border: 2px solid darkblue;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz';
  overflow: scroll;
  /* flex-wrap: wrap; */

  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  margin-left: 10px;
  flex-grow: 7;
}

#edudesc, #expdesc {
  border-radius: 7px;
  border: 2px solid darkblue;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz';
  height: 150px;
  margin-top: 10px;
  overflow: scroll;
}

@media (min-width: 700px) {
  .bio {
    margin-left: 10px;
    width: 100%;
    margin-right: 10px;
  }
  .profileimage {
    margin-bottom: 20px;
    display: flex;
  }
  #bio {
    min-width: 200px;
  }
  #edudesc, #expdesc {
    width: 450px;
  }
}

@media (max-width: 700px) {
  .bio {
    margin-right: 10px;
    width: 100%;
    display: inline-block;
  }
  .profileimage {
    margin-bottom: 20px;
    display: inline-block;
  }
  #bio {
    min-width: 250px;
  }
  .form {
    width: 90%;
  }
  #edudesc, #expdesc {
    width: 100%;
  }
}

#writemessage {
 border-radius: 7px;
 border: 2px solid darkblue;
 width: 100%;
 height: 200px;
 margin-bottom: 10px;
 font-size: 20px;
 font-family: 'Yanone Kaffeesatz';
 resize: none;
 overflow: scroll;
 min-width: 200px;
 display: inline-block;
}

.basicinfo {
  margin-bottom: 50px;
  margin-top: 20px;
  float: center;
}

.changeimage {
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
}

.imgthumbnail {
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.viewbasicinfo {
  float: left;
  min-height: 250px;
  height: auto;
  width: 90%;
  display: flex;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;

}
.viewimage {
  padding: 15px;
  float: left;

}
.viewbasicinfocontents {
  float: left;
  overflow: hidden;
  margin-right: 10px;
  min-width: 250px;

}

@media (max-width: 900px) {
  .viewbasicinfocontents {
    display: inline-block;
    overflow: hidden;
    min-width: 250px;
    margin: 0 auto;
  }
  .viewprofilecontents {
    width: 90%;
  }
  .viewbasicinfo {
    display: inline-block;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
  }
  .viewimage {
    margin-bottom: 10px;
  }
  .viewbio {
    float: left;
  }

}
.viewname {
  float: left;
  margin-left: 20px;
  font-size: 50px;
  width: 100%;
  margin-top: 10px;
}
.viewcontact, .viewlocation {
  float: left;
  margin-left: 20px;
  font-size: 25px;
  width: 100%;
  display: flex;
  padding: 5px 0px;
}
.viewbio {
  float: left;
  margin-left: 15px;
  width: 95%;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
  display: inline-block;
  padding: 5px 0px;
  overflow: visible;
}
.viewskillstitle, .viewexperiencetitle, .vieweducationtitle {
  padding-left: 3%;
  height: 50px;
  width: 98%;
  display: inline-block;
  padding-right: 5px;
}

.viewskills {
  font-size: 30px;
  width: 100%;
  display: flex;
  padding: 0% 3%;
  float: left;

  margin-left: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.viewexperience, .vieweducation {
  width: 100%;
  display: inline-block;
  padding: 0% 3%;
  margin-left: 10px;
  margin-bottom: 15px;
}
.skilltag {
  background-color: azure;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 5px;
  text-align: center;
  width: auto;
  margin-right: 15px;
  margin-bottom: 10px;
}
.eachskill {
  display: inline-block;
  justify-content: center;
  padding-right: 15px;
  padding-left: 15px;
}
.experiencetag, .educationtag {
  padding: 10px 5px;
  display: inline-block;
  width: 85%;
  margin-bottom: 10px;
}

.experiencerole, .educationschool {
  font-size: 25px;
  float: left;
  width: 50%;
  margin-bottom: 5px;
}
.experiencecompany, .educationprogram {
  font-size: 25px;
  float: left;
  width: 100%;
}

.experiencestartend, .educationyear {
  font-size: 20px;
  float: right;
}
.experiencedescription, .educationdescription {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.imagefile {
  align-self: center;
  margin-top: 15px;
  margin-left: -5px;
  width: 100%;
}
.customfileupload {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 130px;
  /*height: 35px;*/
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
  background-color: white;
  display: inline-block;
  text-align: center;
  padding: 7px;
  margin-left: 30px;
}

.customfileupload:hover {
    background-color: lightgray;
}

.basicinfo {
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Search results section */
.userlist, .viewpostingdetails {
  margin-left: 20px;
  width: 100%;
  padding: 20px;
  float: left;
  background-color: lightblue;
  font-size: 20px;
  border-radius: 7px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.viewpostingdetails {
  margin-top: 10px;
  width: 60%;
}

.usercard, .postingcard {
  height: 250px;
  background-color: white;
  border: solid darkblue;
  border-width: 3px;
  border-radius: 7px;
  float: left;
  display: flex;
  margin-bottom: 20px;
  overflow:hidden;
  transition-duration: 0.2s;

}
.viewpostingscard {
  height: 750px;
  background-color: white;
  border: solid darkblue;
  border-width: 3px;
  border-radius: 7px;
  float: left;
  display: flex;
  width: 100%;
}

.viewpostingtitle {
  padding: 20px;
  font-size: 50px;
}
.usercard {
  width: 100%;
}
.postingcard {
  margin-left: 4%;
  margin-right: 5%;
  width: 90%;
}
.moreinfo, .maintitle, .isremote {
  padding: 10px;
  font-size: 20px;
  float: left;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}
.usercard.checked {
  background: palegreen;
}
.userinfo {
  /* float: left; */
  margin-left: 20px;
  margin-right: 20px;
  height: 250px;
  flex: 1;
  /* display: inline-block; */
}
.username {
  width: 100%;
  margin-left: 20px;
}
.usereducation, .userjob {
  /* float: left; */
  width: 100%;
  margin-left: 20px;
  margin-right: 35px;
}
.userimage {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  width: 200px;
  /* width: 200px;
  height: 200px; */
  /* display: inline-block; */
}
.message {
  float: left;
  height: 400px;
  width: 100%;
  border-radius: 7px;
  margin-bottom: 20px;
}
.positioninfo {
  display: inline-block;
}
.positionrole, .companyinfo {
  width: 35%;
  margin-bottom: 10px;
  float: left;
}
.typeinfo {
  width: 27%;
  margin-bottom: 10px;
  float: left;
}
.salarystart, .salaryend {
  width: 18.5%;
  margin-bottom: 10px;
  float: left;
}
.currency {
  width: 10.5%;
  margin-bottom: 10px;
  float: left;
}
.separator {
  width: 1%;
  float: left;
}
.postingslist {
  margin-left: 10px;
  margin-top: 10px;
  width: 35%;
  display: inline-block;
  float: left;
  background-color: lightblue;
  font-size: 20px;
  border-radius: 7px;
  font-family: 'Yanone Kaffeesatz', sans-serif;

}
.postingcardinfo {
  display: flex;
  float: left;
  flex-wrap: wrap;
  flex-direction: row;
}
.isremote, .moreinfo {
  width: auto;
}

.sendresume {
  margin-left: 20%;
  margin-right: 20%;
  display: inline-block;
  flex-wrap: nowrap;
  margin-top: 20px;
  width: 60%;
}

#uploadresume {
  width: 49%;
  min-width: 150px;
  float: left;
}

@media (max-width: 1000px) {
  .sendresume {
    width: 90%;
    margin-left: 5%;
  }
}

.applybutton {
  margin: 0 auto;
  text-align: center;
  width: 200px;
  padding-top: 20px;
}
