/*Navigation bars*/
.topnav {
  background-color: darkblue;
  overflow: hidden;
  transition-duration: 0.4s;
}

.topnav a {
  float: center;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  font-size: 16px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
  text-decoration: none;
}

.topnav a:hover {
  background-color: lightblue;
  color: white;
}

.topnav a.active {
  background-color: lightblue;
  color: white
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.bottomnav {
  background-color: darkblue;
  overflow: hidden;
  margin-top: 10px;
  transition-duration: 0.4s;

}
.bottomnav a {
  float: center;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  font-size: 16px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-decoration: none;
  transition-duration: 0.4s;
}
.bottomnav a:hover {
  background-color: lightblue;
  color: white;
}

.bottomnav a.active {
  background-color: lightblue;
  color: white
}


/*Major containers, forms, tables*/
.signupcontainer {

  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-spacing: 5rem;
  /* position: absolute; */
}

.searchcontainer {
  margin: 8;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /* border-spacing: 5rem; */
}
.searchresultscontainer {
  margin: 8;
  height: auto;
  display: flex;
  align-items: left;
  justify-content: left;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  /* border-spacing: 5rem; */
}
.profilecontainer {

  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-spacing: 5rem;
}
.previoussearch {
  padding: 20px;
  float: left;
  background-color: lightblue;
  width: 20%;
  min-width: 250px;
  border-radius: 7px;
}
.logincontainer {

  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: Azure;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.form {
  width: 60%;
}
table {
  font-size: 1.3rem;
  display: 100%;
  overflow-x: auto;
}
.remoteornah {
  margin-top: 20px;
}

/*Input field and buttons and checkboxes*/
input[type=text], input[type=date], select, input[type=password], input[type=email], input[type=search], input[type=number], button {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 100%;
  height: 35px;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
}
#linklogin {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 170px;
  height: 35px;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
  margin-top: 20px;
  /* display: inline-block; */
 }
#linklogin:hover, button:hover {
  background: lightgray;
}

input[type=number] {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 100%;
  height: 35px;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
}
input[type="file"] {
    display: none;
}
.currentcheckbox, .sendcheckbox {
  border-radius: 7px;
  width: 35px;
  height: 35px;
  border: 2px solid darkblue;
}
.usermatch {
  margin-top: 10px;
  margin-right: 10px;
}

input[type = "button"] {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 100%;
  height: 35px;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
}
input[type = "button"]:hover {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 100%;
  height: 35px;
  background-color: lightgray;
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

#saveprofile, #search {
  border-radius: 7px;
  border: 2px solid darkblue;
  background: white;
  width: 170px;
  height: 35px;
  margin-top: 50px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  transition-duration: 0.4s;
}

#saveprofile:hover, #search:hover {
  background-color: lightgray;
}

#submit {
  border-radius: 7px;
  border: 2px solid darkblue;
  background: white;
  width: 170px;
  height: 35px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  transition-duration: 0.4s;
}
#sendmessage, #selectnumber {
  border-radius: 7px;
  border: 2px solid darkblue;
  background: white;
  height: 35px;
  float: right;
  width: 150px;
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  transition-duration: 0.4s;
}
#selectnumber {
  width: 200px;
}

a.button, a.button:link {
  border-radius: 7px;
  border: 2px solid darkblue;
  background: white;
  width: 100%;
  height: 35px;
  align-items: center;
  text-align: center;
  vertical-align: central;
  text-decoration: none;
  appearance: button;
  /* line-height: 35px; */
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  /* margin-top: 5px; */
  transition-duration: 0.4s;
}

#submit:hover, #sendmessage:hover, a.button:hover {
  background-color: lightgray;
}


/*bio and profile image section*/
@media only screen and (min-width: 660px) {
  #bio {
    /*display: inline-block;*/
    border-radius: 7px;
    border: 2px solid darkblue;
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz';
    resize: none;
    overflow: scroll;
    min-width: 250px;
    display: inline-block;
  }
 }
 #writemessage {
   border-radius: 7px;
   border: 2px solid darkblue;
   width: 100%;
   height: 200px;
   margin-bottom: 10px;

   font-size: 20px;
   font-family: 'Yanone Kaffeesatz';
   resize: none;
   overflow: scroll;
   min-width: 250px;
   display: inline-block;
 }

.basicinfo {
  margin-bottom: 50px;
  margin-top: 20px;
  float: center;
}

.bio {
  float: left;
  margin-left: 10px;
  min-width: 200px;
  flex-grow: 1;
}

.changeimage {
  float: left;
  margin-left: 10px;
  margin-bottom: 20px;
}

.imgthumbnail {
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profileimage {
  margin-bottom: 20px;
  display: flex;
}

.imagefile {
  align-self: center;
  margin-top: 10px;
  width: 100%;
}
.customfileupload {
  border-radius: 7px;
  border: 2px solid darkblue;
  width: 130px;
  /*height: 35px;*/
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  transition-duration: 0.4s;
  background-color: white;
  display: inline-block;
  text-align: center;
  padding: 7px;
  margin-left: 30px;
}

.customfileupload:hover {
    background-color: lightgray;
}

.basicinfo {
  font-size: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* Search results section */
.userlist {
  margin-left: 20px;
  width: 100%;
  padding: 20px;
  float: left;
  background-color: lightblue;
  font-size: 20px;
  border-radius: 5px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.usercard {
  width: 100%;
  height: 250px;
  background-color: white;
  border: solid darkblue;
  border-width: 3px;
  border-radius: 7px;
  float: left;
  display: flex;
  margin-bottom: 20px;
  overflow:hidden;
  transition-duration: 0.2s;
}
.usercard.checked {
  background: palegreen;
}
.userinfo {
  /* float: left; */
  margin-left: 20px;
  margin-right: 20px;
  height: 250px;
  flex: 1;
  /* display: inline-block; */
}
.username {
  width: 100%;
  margin-left: 20px;
}
.usereducation, .userjob {
  /* float: left; */
  width: 100%;
  margin-left: 20px;
  margin-right: 35px;
}
.userimage {
  float: left;
  margin-left: 30px;
  margin-top: 20px;
  width: 200px;
  /* width: 200px;
  height: 200px; */
  /* display: inline-block; */
}
.message {
  float: left;
  height: 400px;
  width: 100%;
  border-radius: 7px;
  margin-bottom: 10px;
}

.positionrole, .companyinfo {
  width: 49.5%;
  margin-bottom: 10px;
  float: left;
}
.separator {
  width: 1%;
  float: left;
}
